/* Main styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #121212;
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* Header */
.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.headerContents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    padding: 0 100px;
    border-bottom: 1px solid white;
}

.headerLink {
    text-decoration: none;
    position: relative;
    margin-left: 50px;
}

.headerLink::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, red, purple);
    height: 1px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 200ms, transform 200ms;
}

.headerLink:hover::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

.headerTitle {
    font-size: 2rem;
    padding: 5px 15px;
    border-radius: 15px;
    background: linear-gradient(to right, red, purple);
    border: white solid 1px;
}