/* Main styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #121212;
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* Header */
.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.headerContents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    padding: 0 100px;
    border-bottom: 1px solid white;
}

.headerLink {
    text-decoration: none;
    margin-left: 50px;
    padding-bottom: 5px;
}

.headerLink:hover {
    border-bottom: 1px solid white;
}

.headerTitle {
    font-size: 2rem;
}